[submodule "third_party/libjnivm"]
	path = third_party/libjnivm
	url = https://github.com/ChristopherHX/libjnivm.git
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third_party/OpenXR-SDK"]
	path = third_party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
